<div data-ng-controller="dashboardCtrl" >
  <div class="row">
    <div class="col-md-3">
      <div>
        <div class="widget bg-white">
          <div class="widget-icon bg-blue pull-left fa fa-microphone">
          </div>
          <div class="overflow-hidden">
            <span class="widget-title">8,372K</span>
            <span class="widget-subtitle">Registered users</span>
          </div>
        </div>
        <div class="widget bg-white">
          <div class="widget-icon bg-danger pull-left fa fa-tint">
          </div>
          <div class="overflow-hidden">
            <span class="widget-title percent">86</span>
            <span class="widget-subtitle">Revenue increase</span>
          </div>
        </div>
        <div class="widget bg-white">
          <div class="widget-icon bg-success pull-left fa fa-paper-plane">
          </div>
          <div class="overflow-hidden">
            <span class="widget-title">7,355K</span>
            <span class="widget-subtitle">Pending orders</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
    <div class="widget bg-white">
    <div class="text-center">
    <h6 class="text-uppercase">Page Views</h6>
    <div class="mt15">
    <h1 class="text-primary">512k+</h1>
    <flot dataset="lineDataset" options="lineOptions" class="chart" height="123"></flot>
    </div>
    </div>
    </div>
    </div>


  </div>


  <div class="row">
    <div class="col-md-4">
      <section class="widget bg-lightblue">
        <div class="widget-details">
          <a href="javascript:;" class="pull-left relative">
            <img data-ng-src="images/avatar.jpg" class="avatar avatar-sm img-circle bordered" alt="">
            <div class="status bg-primary text-white mt5" data-animation="rubberBand"></div>
          </a>
        </div>
        <div class="widget-details">
          <span class="h5 bold">Samuel Perkins</span>
          <small class="block">San Francisco, CA</small>
          <small class="block">Interactive UX Developer</small>
        </div>
      </section>
    </div>
    <div class="col-md-4">
      <section class="widget bg-success text-center">
        <div class="widget-details col-xs-4">
          <h2 class="no-margin">132</h2>
          <small class="text-uppercase">Pending</small>
        </div>
        <div class="widget-details col-xs-4">
          <h2 class="no-margin">43</h2>
          <small class="text-uppercase">Completed</small>
        </div>
        <div class="widget-details col-xs-4">
          <h2 class="no-margin">28</h2>
          <small class="text-uppercase">Failed</small>
        </div>
      </section>
    </div>
  </div>
</div>
