<div class="center-wrapper" data-ng-controller="sessionCtrl">
  <div class="center-content">
    <div class="row no-margin">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <form role="form" class="form-layout">
          <div class="text-center mb15">
            <img data-ng-src="images/temQuarto.png" class="img-responsive" />
          </div>

          <div class="form-inputs">
            <input type="email" ng-model="email" class="form-control input-lg" placeholder="Email" />
            <input type="password" ng-model="password" class="form-control input-lg" placeholder="Senha" />
          </div>

          <button class="btn btn-success btn-block btn-lg mb15"  ng-click="authenticate('login')" >
            <span>Entrar</span>
          </button>
          <button class="btn btn-primary btn-block btn-lg mb15"  ng-click="authenticate('facebook')">
            <span>Entrar com o Facebook</span>
          </button>
          <button class="btn btn-danger btn-block btn-lg mb15"  ng-click="authenticate('google')">
            <span>Entrar com o Google</span>
          </button>
          <p>
            <a ui-sref="user.signup">Crie uma conta</a> ·
            <a ui-sref="user.forgot">Esqueceu sua senha?</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
